.container {
  padding-top: 60px;
}

h1 {
  width: 460px;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.searchBar {
  text-align: center;
  padding-bottom: 30px;
}

.resultsPage {
  width: 960px;
  margin: 0 auto;
}

.searchFormWrapper {
  position: relative;
  width: 560px;
  height: 50px;
  margin: 0 auto;
  background: #fff;
  border: 1px solid #a0a098;
  border-radius: 100px;
}

form {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}

.magnifying-glass {
  font-size: 1.5em;
  display: inline-block;
  width: 0.4em;
  box-sizing: content-box;
  height: 0.4em;
  border: 0.1em solid #83859c;
  position: relative;
  border-radius: 0.35em;
}
.magnifying-glass:before {
  content: "";
  display: inline-block;
  position: absolute;
  right: -0.27em;
  bottom: -0.08em;
  border-width: 0;
  background: #83859c;
  width: 0.35em;
  height: 0.08em;
  transform: rotate(45deg);
}

input {
  width: 85%;
  background: 0;
  border: 0;
  padding: 6px 0 6px 0px;
  margin: 2px 14px;
  outline: 0;
  font-family: "TT Norms Medium", Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #28334a;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

button {
  background-color: transparent;
  border: none;
}

.searchButton {
  background-color: transparent;
  border: none;
  color: #0364ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

.pokemonListing {
  display: flex;
  /* justify-content: space-between; */
  border: 1px solid #ebebeb;
  margin: 15px 0;
  border-radius: 3px;
  padding: 20px 50px;
}

.imageContainer {
  padding-right: 50px;
}

img {
  width: 60px;
}

.basicInfo {
  min-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemonName {
  padding-bottom: 12px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 18px;
}

.pokemonId {
  color: #747474;
  font-size: 16px;
}

.pokemonTypes {
  display: flex;
  padding-left: 70px;
}

.pokemonSingleType {
  width: 110px;
  margin-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: uppercase;
  text-align: center;
  list-style: none;
  border: 1px #000000 solid;
  border-radius: 24px;
  font-size: 13px;
  font-weight: bold;
}

.columnEnd {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.circle {
  width: 25px;
  height: 25px;
  position: relative;
  background-color: #747690;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  -ms-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  transform: rotate(225deg);
}
.before,
.after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background-color: #fcfcfc;
  border-radius: 0;
  top: 27px;
  z-index: 0;
}
.before {
  left: 7px;
  top: 11px;
}
.after {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  transform: rotate(-90deg);
  left: 7px;
  top: 11px;
}

.notFound {
  text-align: center;
  font-size: 20px;
}
